{% extends 'base.html.twig' %}
{% block title %}Categorie{% endblock %}
{% block body %}
    <!-- WELCOME -->
    {% set img= categorie.peintures | last %}
    <section  data-jarallax data-speed=".8" class="pt-12 pt-md-14 pb-12 pb-md-15 overlay overlay-black overlay-60 bg-gray-900" style="margin-top: -87px;background-image: url({{ vich_uploader_asset(img,'imageFile') | imagine_filter('welcome') }});">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7 text-center">
                    <!-- Headin -->
                    <h2 class="display-2 fw-bold text-white">
                        {{ categorie.nom }}
                    </h2>
                    <p class="lead text-white-75 mb-4">*
                        {{ categorie.description }}
                    </p>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
    <!-- SHAPE -->
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x text-light">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
        </div>
    </div>
   <!--Content-->
    <section class="py-8 py-md-11 mt-n10 mt-md-n14">
        <div class="container">
            <div class="row" id="portfolio" data-isotope='{"layoutMode": "masonry"}'>
                {% for peinture in peintures %}
                    <div class="col-12 col-md-4 ux">
                        <a href="#!" class="card lift lift-lg shadow-light-lg mb-7" data-bigpicture = {"imgSrc":"{{ vich_uploader_asset(img,'imageFile') | imagine_filter('full') }}"}>
                            <div class="card-zoom">
                                <img src="{{ vich_uploader_asset(img,'imageFile') | imagine_filter('portfolio') }}" alt="" class="card-img">
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
