{% extends 'base.html.twig' %}
{% block title %}Realisation!{% endblock %}
{% block body %}
    <!-- ARTICLES -->
    <section class="pt-7 pt-md-10 bg-light">
        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-12 col-md">

                    <!-- Heading -->
                    <h3 class="mb-0">
                        Toutes Nos Realisations
                    </h3>

                    <!-- Text -->
                    <p class="mb-0 text-muted">
                        Other goodies that are similar to this one.
                    </p>

                </div>
                <div class="col-12 col-md-auto">

                    <!-- Button -->
                    <a href="#!" class="btn btn-sm btn-outline-gray-300 d-none d-md-inline">
                        View all
                    </a>

                </div>
            </div> <!-- / .row -->
            <div class="row">
                {% for peinture in peintures %}
                    <div class="col-12 col-md-6 col-lg-4 d-flex mb-4">
                        <!-- Card -->
                        <a class="card mb-6 mb-lg-0 shadow-light-lg" href="#!">
                            <!-- Image -->
                            <div class="card-zoom">
                                <img class="card-img-top" src="{{ peinture.file }}" alt="...">
                            </div>
                            <!-- Body -->
                            <div class="card-body">

                                <!-- Shape -->
                                <div class="shape shape-bottom-100 shape-fluid-x text-white">
                                    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
                                </div>
                                <!-- Preheading -->
                                <h6 class="text-uppercase mb-1 text-muted">{{ peinture.nom}}</h6>
                                <!-- Heading -->
                                <h4 class="mb-0">{{ peinture.prix }}€</h4>
                                <p class="h6 text-uppercase text-muted mb-0 ms-auto mb-4">
                                    Ajouté le : {{ peinture.CreatedAt | date("d/m/Y") }}
                                </p>

                            </div>

                        </a>

                    </div>
                {% endfor %}

            </div> <!-- / .row -->
        </div> <!-- / .container -->
        <div class="d-flex justify-content-center">
            {% do peintures.setPageRange(2) %}
            {{ knp_pagination_render(peintures,'base/pagination.html.twig') }}
        </div>
    </section>
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x text-gray-200">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>
{% endblock %}
